<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Knewave"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <!-- this is my Vue app-->
      <div id="login">
        <div id="LoginBox">
          <div id="loginImage">
            <img src="./images/IntelliTraderDark.png" />
          </div>
          <div v-if="validationErrors" class="error_messages">
            Please correct the following error(s):
            <ul>
              <li v-for="error in errorMessages">{{error}}</li>
            </ul>
          </div>
          <!-- vmodel only for input when data is being sent back to code-->
          <div id="new-user-inputs">
            <div id="login_title">Login</div>
            <label> Email </label>
            <br />
            <br />
            <input
              type="email"
              placeholder="Email"
              v-model="returningUserEmail"
            />
            <br />
            <br />
            <label> Password </label>
            <br />
            <br />
            <input
              type="password"
              placeholder="Password"
              v-model="returningUserPassword"
            />
          </div>
          <br />
          <br />
          <button v-on:click="loginUser">Login</button>
          <br />
          <br />
          <br />
          <div id="question">
            Don't have an account?
            <a href="signup.html" class="sign_in_link">sign up</a>
          </div>
        </div>
      </div>
      <div class="why_intellitrader">
        <h1 class="info_title">Why IntelliTrader?</h1>
        <div class="why_intellitrader_item">
          <img class="checkmark" src="./images/checkMark.png" /> Trade smart
          with the power of AI<img class="why_item" src="./images/AI.png" />
        </div>
        <div class="why_intellitrader_item">
          <img class="checkmark" src="./images/checkMark.png" /> No need to pay
          for investment handlers<img
            class="why_item"
            src="./images/moneybag.png"
          />
        </div>
        <div class="why_intellitrader_item">
          <img class="checkmark" src="./images/checkMark.png" /> Track
          investments 24/7 with 0 downtime<img
            class="why_item"
            src="./images/stockrising.png"
          />
        </div>
        <div class="why_intellitrader_item">
          <img class="checkmark" src="./images/checkMark.png" /> No prior
          trading experience needed<img
            class="why_item"
            src="./images/brain.png"
          />
        </div>
        <div class="why_intellitrader_item">
          <img class="checkmark" src="./images/checkMark.png" /> Uses financial
          news articles to predict stock trends<img
            class="why_item"
            src="./images/news.png"
          />
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="vue.js"></script>
  </body>
</html>
